.profile_heading .avatar {
    position: absolute;
    bottom: -74px;
    left: 16px;
}

.profile_heading .avatar img {
    width: 140px;
    height: 140px;
    border-radius: 999px;
    border: solid rgb(27, 26, 26) 2px;
}

.profile_heading .banner {
    position: relative;
    height: 200px;
}